<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>voidBlack</string>
		<key>ImageName</key>
		<string>MycellmLogo-red</string>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>mycellm uses your local network to discover and connect to nearby nodes for P2P inference.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mycellm._tcp</string>
		<string>_mycellm._udp</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
